.travel.mainDiv
{
    border:1px solid hotpink

}
.travel.mainDiv img
{
    width: 100%;

}
.travel.mainDiv h5,  .travel.mainDiv p
{
    margin: 20px;
}

.movie_head
{
    font-family: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i
{
    float: right;
}

.acheivement_text span
{
    color:aquamarine;

}
.new
{
    margin-bottom: 20px;

}
#concat iframe
{
  width: 100%;
}